// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import '~bootstrap-vue/src/index.scss';

.leaflet-top .leaflet-control {
    margin-top: 50px;
}

.leaflet-touch .leaflet-control-layers, .leaflet-touch .leaflet-bar {
    border-color: $border-color;
    border-radius: 10px;
}

.leaflet-touch .leaflet-bar a:first-child {
    border-top-right-radius: 10px !important;
    border-top-left-radius: 10px !important;
}

.leaflet-touch .leaflet-bar a:last-child {
    border-bottom-right-radius: 10px !important;
    border-bottom-left-radius: 10px !important;
}

.vm--container {
    z-index: 9999;
}
