<template>
    <Modal title="Kategoriyalarni tanlang" :actions="actions">
        <div>
            <b-form-checkbox
                v-for="c in categories"
                v-model="selected"
                :key="c.id"
                :value="c.id">
                {{ c.name }}
            </b-form-checkbox>
        </div>
    </Modal>
</template>

<script>
import Modal from "./Modal";
import Ebus from "../Ebus";

export default {
    name: "SelectCategoryDialog",
    components: {Modal},

    props: {},

    data() {
        let selected = this.$store.state.selectedCategories

        if (selected.length === 0) {
            selected = this.$store.state.categories.map(x => x.id)
        }

        return {
            selected,
        }
    },

    computed: {
        categories() {
            return this.$store.state.categories;
        },

        actions() {
            let $this = this;
            return [
                {
                    title: 'Tanlash', handler() {
                        $this.$store.state.selectedCategories = $this.$data.selected;

                        Ebus.$emit('ReloadMarkers');
                    }
                }
            ]
        }
    },

}
</script>

<style scoped>

</style>
