<template>
    <td>
        {{ voteCount }}

        <b-icon-caret-down @click="handle" variant="danger" v-if="alreadyVoted === true"/>
        <b-icon-caret-up @click="handle" variant="success" v-if="alreadyVoted === false"/>
    </td>
</template>

<script>
import Ebus from "../Ebus";

export default {
    props: {
        issue_id: {},
        votes: {},
        hasVoted: {},
    },

    data() {
        return {
            alreadyVoted: this.hasVoted ,
            voteCount: this.votes
        }
    },

    methods: {
        async handle() {
            this.alreadyVoted = !this.alreadyVoted;

            const {issue_id} = this;
            const response = await axios.post('/vote', {issue_id});

            this.voteCount = response.data.data;

            Ebus.$emit('ReloadMarkers');
        }
    },
}
</script>
